
<!-- Top Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SummitUp!</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Record a Hike</a></li>
      <li><a href="#">Plan a Hike</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Stuff<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">My Profile</a></li>
          <li><a href="#">My Hikes</a></li>
          <li><a href="#">My Mountains</a></li>
          <li><a href="#">My Friends</a></li>
          <li><a href="#">My Achievements</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="#"><span class="badge pull-right">5</span>
      Notifications
    </a>
  </li>
      <li><a href="#">Sign out</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="row">
  <div class="col-md-4">
    <img src="/images/washington.jpg" width=100%>
    <p>This is a description of the photo?</p>
  </div>
  <div class="col-md-4">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mount Washington via Jewell Trail, Labor Day 2013</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
      <li class="list-group-item">9/2/2013</li>
      <li class="list-group-item">Mt. Washington</li>
      <li class="list-group-item">New Hampshire</li>      
      <li class="list-group-item">6.2 mi</li>
      <li class="list-group-item">3 hrs</li>
      <li class="list-group-item">Fun: 5/5</li>
      <li class="list-group-item">Difficulty: 2/5</li>
        </ul>
      </div>
    </div>
    
  </div>
  <div class="col-md-4">
    <div class="btn-group">
      <button type="button" class="btn btn-default">Edit</button>
      <button type="button" class="btn btn-default">Share</button>
    </div>
 <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Hike participants</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">MsKyle</li>
          <li class="list-group-item">Bruce</li>
          <li class="list-group-item">Brooke</li>
          <li class="list-group-item">Brian</li>
          <li class="list-group-item">Jackie</li>
          <li class="list-group-item">Sawyer</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-4">

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=44.270464,+-71.303444+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.624909,130.78125&amp;ie=UTF8&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=44.270464,+-71.303444+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.624909,130.78125&amp;ie=UTF8&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>


  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Hike report</h3>
        </div>
        <div class="panel-body">
          <p>This was such a great hike! We took the Jewell trail up and the Cog Railway down so we cheated, basically. The weather was great. Amazing views, I think we saw the ocean.
          </p>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Comments</h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Looks like you guys had a blast!</li>
            <li class="list-group-item">Wish I could have come!</li>
        </div>
      </div>
  </div>
</div>


<div class="col-md-12">
  <ul class="nav nav-pills">
  <li class="disabled"><a href="#">About</a></li>
  <li class="disabled"><a href="#">Suggestions</a></li>
  <li><img src="/images/lilhikon.png"></li>
  <li class="disabled"><a href="#">Settings</a></li>
  <li class="disabled"><a href="#">Home</a></li>
</ul></div>
