<!-- Top Navigation -->
<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SummitUp!</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li><a href="#">Record a Hike</a></li>
      <li><a href="#">Plan a Hike</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">My Stuff<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">My Profile</a></li>
          <li><a href="#">My Hikes</a></li>
          <li><a href="#">My Mountains</a></li>
          <li><a href="#">My Friends</a></li>
          <li><a href="#">My Achievements</a></li>
        </ul>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li class="active">
        <a href="#"><span class="badge pull-right">5</span>
      Notifications
    </a>
  </li>
      <li><a href="#">Sign out</a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

<div class="row">
  <div class="col-md-4">
    <img src="/images/washington.jpg" width=100%>
    <p>This is a description of the photo?</p>
  </div>
  <div class="col-md-5">

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Mount Washington</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
      <li class="list-group-item">6,288 ft</li>
      <li class="list-group-item">4.270464, -71.303444</li>
      <li class="list-group-item">New Hampshire</li>
        </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Nearby Mountains</h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">Mount Jefferson</li>
          <li class="list-group-item">Mount Monroe</li>
          <li class="list-group-item">Mount Eisenhower</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-3">
    <div class="btn-group-vertical">
      <button type="button" class="btn btn-default">I've hiked this</button>
      <button type="button" class="btn btn-default">I want to hike this</button>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Lists <a href="#">(All Lists)</a></h3>
      </div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">White Mountain 4000-footers</li>
          <li class="list-group-item">New England 4000-footers</li>
          <li class="list-group-item">New England 100 Highest</li>
          <li class="list-group-item">Northeast "115" 4000-footers</li>
        </ul>
      </div>
    </div>
  </div>
</div>
</div>
<div class="row">
  <div class="col-md-4">
    <p>Mount Washington is the highest peak in the Northeastern United States at 6,288 ft (1,917 m) and the most prominent mountain east of the Mississippi River. It is famous for dangerously erratic weather. The most popular hiking trail approach to the summit is via the 4.1-mile (6.6 km) Tuckerman Ravine Trail. It starts at the Pinkham Notch camp area and gains 4,280 feet (1,300 m), leading straight up the bowl of Tuckerman Ravine via a series of steep rock steps which afford spectacular views of the ravine and across the notch to Wildcat Mountain. Other routes up the eastern slopes of the mountain include the Lion Head, Boott Spur, Huntington Ravine and Nelson Crag trails, as well as the Great Gulf Trail ascending from the northeast. Routes from the western slopes include the Ammonoosuc Ravine and Jewell trails and the Crawford Path.</p>

    <iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=44.270464,+-71.303444+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.624909,130.78125&amp;ie=UTF8&amp;t=m&amp;z=14&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=44.270464,+-71.303444+&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=64.624909,130.78125&amp;ie=UTF8&amp;t=m&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>


  </div>
  <div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Recent Hikes <a href="">(All Hikes)</a></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Mt Monroe via Ammonusuc Ravine - 9/1/2013</li>
            <li class="list-group-item">Stanton and Pickering - Snowshoe - 8/22/2013</li>
            <li class="list-group-item">Stanton and Pickering - Snowshoe - 7/14/2013</li>
          </ul>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">Upcoming Hikes <a href="">(All Hikes)</a></h3>
        </div>
        <div class="panel-body">
          <ul class="list-group">
            <li class="list-group-item">Mt Monroe via Ammonusuc Ravine - 9/1/2013</li>
            <li class="list-group-item">Stanton and Pickering - Snowshoe - 8/22/2013</li>
            <li class="list-group-item">Stanton and Pickering - Snowshoe - 7/14/2013</li>
          </ul>
        </div>
      </div>
  </div>
</div>


<div class="col-md-12">
  <ul class="nav nav-pills">
  <li class="disabled"><a href="#">About</a></li>
  <li class="disabled"><a href="#">Suggestions</a></li>
  <li><img src="/images/lilhikon.png"></li>
  <li class="disabled"><a href="#">Settings</a></li>
  <li class="disabled"><a href="#">Home</a></li>
</ul></div>
